<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>FK-Soundbored</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    Fictive Kin Soundbored
    {% for sound in data %}
    <div class='button__wrapper'>
      <button type="button" onClick="playSound('{{sound.name}}')">{{sound.name}}</button>
      <audio id='{{sound.name}}'controls loop style="display:none">
        <source src={{sound.url}} type"audio/mp3"/>
      </audio>
    </div>
    {% endfor%}
  </body>
</html>


  <script>
    function playSound(sound){
      document.getElementById(sound).play();
    }
  </script>
