<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>FK-Soundbored</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet"> 
    <script src="{{ url_for('static', filename='play.js') }}"></script>
  </head>
  <body>
    <h1>Fictive Kin Soundbored</h1>
    {% for sound in data %}
    <div class='button__wrapper'>
      <button type="button" onClick="playSound('{{sound.name}}')">{{sound.name}}</button>
      <audio id='{{sound.name}}'controls loop style="display:none">
        <source src={{sound.url}} type"audio/mp3"/>
      </audio>
    </div>
    {% endfor%}
  </body>
</html>

